<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Milestone1</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
     <link href="/css/styles.css" rel="stylesheet">
</head>

<body>

    <div class="display-table">
        <div class="cover">
            
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                    
                    <% if(dbsuccess){ 
                        if(hasscore){ %>
                            <p>Nickname: <%= nick %>
                            <p>Score: <%= score %>
                        <% } %>
                        

                        <table class="table">
                            <tr>
                                <th></th>
                                <th>Nickname</th>
                                <th>Score</th>
                            </tr>
                            <% var i = 0;
                             for(;i<results.length;i++) { console.log(results + " " + results[i]) %>
                                <tr>
                                    <th><%= i+1 %></th>
                                    <td><%= results[i].nick %></td>
                                    <td><%= results[i].score %></td>
                                </tr>
                             <% } for(;i<10;i++) { %>
                             <tr>
                                <th><%= i+1 %></th>
                                <th></th>
                                <th></th>
                             </tr>
                            <% } %>

                        </table>



                    <% } else { %>
                        <p>There was a problem with the database.</p>
    
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
